body {
    line-height: 1.5;
    background: linear-gradient(180deg, rgba(37, 44, 108, 0.91) 0%, rgba(47, 48, 58, 0.91) 100%);
}

div.info-general {
    background-color: blue;
    width: 50%;
    height: auto;
}

div.facts {
    background-color: beige;
    width: 50%;
    height: auto;
}

div.search-bar {
    background-color: black;
    width: 200px;
    height: 50px;
}

figure img {
    height: 200px;
    width: 200px;
}

.orange-text {
    color: orange !important;
}

figure.movie-jumbotron {
    border-radius: 25px !important;
    color: white;
    padding-top: 40px !important;
    /* padding-bottom: 40px !important; */
    padding-left: 2% !important;
    padding-right: 2% !important;
    height: 50% !important;
}

div.padding {
    padding-left: 75px !important;
}

.scrollable {
    overflow-y: scroll;
    height: 86vh;
}

.scrollable::-webkit-scrollbar {
    width: 0 !important
}

.hide-scrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

hr {
    background-color: blanchedalmond;
}

.content-wrapper {
    padding-top: 100px !important;
}