body {
    line-height: 1.5;
    background: linear-gradient(180deg, rgba(37, 44, 108, 0.91) 0%, rgba(47, 48, 58, 0.91) 100%);
}

.content-wrapper {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
}

h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.8em;
}

.paragraph {
    color: white;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-style: italic;
}

p {
    color: white;
    font-size: 1.15em;
    text-shadow: 0.075em 0 black, 0 0.075em black, -0.075em 0 black, 0 -0.075em black;
}

small {
    color: white;
}

.register-jumbotron {
    border-radius: 25px !important;
    background-color: #14004D !important;
    color: white;
    padding-top: 40px 4% !important;
    width: 40%;
    margin: auto;
}

.orange-text {
    color: orange !important;
}

.form-control {
    background-color: white !important;
    color: black !important;
    text-shadow: none !important;
    border: none !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.form-control::placeholder {
    color: rgb(196, 196, 196) !important;
    font-style: italic !important;
}

.centered {
    margin: auto;
    text-align: center;
}

.btn-register {
    border-radius: 20px !important;
    background-color: #172370 !important;
    font-size: 30px !important;
    line-height: normal !important;
    text-align: center;
    width: 40% !important;
    padding: 3px !important;
    font-size: 1.5em !important;
    margin: 10px;
}

.btn-register:hover {
    background-color: orange !important;
    color: black !important;
}

.no-shadow {
    color: black !important;
    text-shadow: none !important;
}

input[type="button"] {
    outline: none !important;
}